  @keyframes :local(ball-pulse-sync) {
    0%, 20%, 60%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-100%); }
  }

  :local {
  .first {
    animation: ball-pulse-sync 1.5s -0.28s infinite ease-out;
  }

  .second {
    animation: ball-pulse-sync 1.5s -0.14s infinite ease-out;
  }

  .third {
    animation: ball-pulse-sync 1.5s 0s infinite ease-out;
  }

  .base {
    border-radius: 100%;
    animation-fill-mode: both;
    display: inline-block;
  }
}
